.wrapper {
	text-align: center;
	background-color: #9cc9ff;

	padding: 2em;
	max-width: 25vw;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 15px;
	box-shadow: 2px 2px 20px 2px #aaa;
}

@media (hover: none) {
	.wrapper {
		max-width: 80vw;
	}
}
