.image-container {
    position: relative;
    display: grid;
    grid-template-columns: 200px 400px;
    margin-top: 20px;
    max-width: 100vw;
}

.image-container > img {
    width: 160px;
    border-radius: 40%;
}

.personal-information > .person-name {
    font-size: 30px;
    font-weight: bold;
}

.address-information {
    height: 60%;
}

.address-information > div {
    height: 100%;
}

.personal-information > span, 
.personal-information > p,
.address-information > p{
    font-size: 20px;
}

.action-button-container {
    position: relative;
    top: 5%;
    left: 80%;
    z-index: 10;
}