* {
    margin: 0;
    padding: 0;
    background-color: #e8bcb9;
}

.menu {
    display: grid;
    justify-content: center;
    text-decoration: underline;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 50px;
    padding-left: 29px;
}

.nav {
    display: grid;
    justify-content: center;
    font-size: 20px;
    grid-template-columns: 10vw 10vw 10vw;
    list-style: none;
    margin: 5vw 2vw 2vw 7vw;
    column-gap: 10px;
    cursor: pointer;
}

.img{
    margin: 100px 600px;
}

.contact { 
    display: grid;     
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px 20px 5px 20px;
    padding: 10px 10px 10px 10px;
    list-style: none;
}

.contact-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 10px;
}

.contact-h1{
    margin: 2vw 2vw 2vw 2vw;
    text-decoration: underline;
}

.name{
    font-weight: bold;
    background-color: white;
    font-size: large;
    padding-bottom: 10px;
}

.list-item{
    display: grid;
    justify-content: center;
    background-color: white;
    border: 1px solid;
    margin: 200px 600px 20px 600px;
    padding: 20px 10px 40px 10px;
    border-radius: 10px;
}

.name-tag{
padding-bottom: 10px;
background-color: white;
}

a{
    text-decoration: none;
    background-color: white;   
    cursor: pointer;
}

.link{
    background-color: white;
}

.list-item-name{
    padding-bottom: 10px;
    background-color: white;
}

.back-button{
    margin: 20px 40px -10px 40px;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.street-city{
    background-color: white;
}

.form {
    display: grid;
    justify-content: center;
}

.form-tabs{
    display: grid;
    justify-content: center;
    margin-left: 3vw;
    font-weight: bold;
    row-gap: 5px;
}

.create-contact{
    margin: 1vw 1vw 3vw 3vw;
    text-decoration: underline;
}

.actions-section{
    margin: 20px 20px 20px 105px;
}

.button-blue{
    background-color: white;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    cursor: pointer;
}

