#root {
    display: grid;
    grid-template-areas:
      "menu content"
      "menu content";
    justify-content: center;
    gap: 300px;
    padding: 10px;
  }
  
  .ab-menu {
    display: flex;
    flex-direction: column;
    grid-area: menu;
  }
  
  .ab-form {
    display: flex;
    border: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: content;
    gap: 5px;
  }
  
  .ab-input {
    border: none;
    background-color: blueviolet;
    border-radius: 0.3em;
  }
  
.ab-btn {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.ab-btn:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .ab-btn {
    padding: 0 2.6rem;
  }
}
  
  .ab-list {
    display: grid;
    justify-content: center;
    list-style: none;
}