.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    background-image: linear-gradient(to right, #5fd2ff, #c37bfe);
    color: transparent;
    background-clip: text;
}

.name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 10px;
}

.street {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 10px;
}

.city {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 10px;
}

.deleteButton {
    background-color: #910b0b65;
    color: white;
    border: 1px solid white;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.deleteButton:hover {
    scale: 1.05;
    background-color: #910b0b;
}