.cList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    background-color: #050f1f;
    min-height: 70vh;
}