.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    background-image: linear-gradient(to right, #5fd2ff, #c37bfe);
    color: transparent;
    background-clip: text;
}

.name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 10px;
}

.street {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 10px;
}

.city {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 10px;
}