.contactInfoLink {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    width: 400px;
    transition: all 0.3s ease;
}

.contactInfoLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 1px;
    background: radial-gradient(circle);
}

.contactInfoLink:hover {
    scale: 1.05;
    color: aqua;
}
