@import url('@/global.css');

.contact-editor-form {
    width: 500px;
    padding: 1rem 2rem 5rem 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    background-color: var(--existence-grey);
    border-radius: 1rem;
    justify-content: center;
}

.contact-editor-form > #header {
    margin-bottom: 1rem;
}

.contact-editor-form > .data-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.contact-editor-form > .data-input > .value {
    width: 50%;
    color: black;
    background-color: var(--silverlining-white);
}

.contact-editor-form > .data-input > .value:disabled {
    width: 50%;
    color: white;
    background-color: transparent;
    border: none;
    user-select: none;
}
