@import "DashBoard-style/Dashboard.css";
@import "DashBoard-style/ViewPage.css";



/* Global font styles for headers */
header {
  font-size: 30px;
  font-weight: bold;
}

h1, h2, h3 {
  font-family:  sans-serif; 
  font-size: 18px; 
  font-weight: bold; 
  
}

/* Additional styling for specific headers */
h1 {
  /* Add specific styles for h1 */
}

h2 {
  /* Add specific styles for h2 */
}

h3 {
  /* Add specific styles for h3 */
}



body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .app {
    background-color: rgb(121, 122, 122);
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    flex: 0 0 200px; /* Adjust width as needed */
    background-color: #f0f0f0;
}

.dashboard {
    flex: 0.5;
    background-color: #afa6a6;
}

