/* form {
  display: flex;
  align-items:flex-start;
  flex-direction: column;
}

form div{
  flex-direction: column;
  padding-top: 10px;
}

input {
  padding: 5px;
  margin-top: 2px;
  width: 380px;
}

#button {
  margin-top: 10px;
  height: 30px;
  width: 75px;
  margin-left: auto;
} */