.field-section label{
    display: block;

}

.field-section input{
    width: 100%;
    margin-bottom: 1rem;
}

.menu-screen-right{
    position: relative;
}

.form-fields button{
    right:0;
    position: absolute;
}