body {
    background-color: darkslategray;
}

.App {
    font-family: sans-serif;
    text-align: center;
    background-color: darkslategray;

}

.main {
    height: 100vh;
    display: grid;
    grid-auto-columns: 100px 1fr;
    padding-left: 30px;
    background-color: darkslategray;
    color: rgb(99, 202, 20);
}

 .menu  {
    background-color: rgb(28, 40, 40);
    color: rgb(99, 202, 20);
    padding: 30px;
    
}

.menu a {
    color:rgb(99, 202, 20);
    text-decoration: none;
}

.menu a:hover {
    color: #ffcc00;
}

.top-bar{
    /* position: fixed; */
    width: 100%;
    display: flex;
    flex-flow: row;
    padding-left: 30px;
    color: rgb(99, 202, 20);
}

.contacts {
        /* padding-left: 300px; */
        background-color: darkslategray;
        color: rgb(99, 202, 20);

    }
.view-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.view-contact img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    
}
