.App {
  display: flex;
}

section {
  flex: 1;
  padding: 20px;
}

header ul {
  list-style-type: none;
  padding: 0;
}

header ul li {
  display: inline-block;
  margin-right: 15px;
}

button {
  display: inline-block;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f8f9fa;
  border: 1px solid #adb5bd;
  color: #212529;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

h1 {
  margin-top: 0;
}

/* Add spacing between input fields */
form div {
  margin-bottom: 15px; /* Adjust the value as needed */
}

/* Align input fields */
form input {
  width: 100%;
  padding: 10px; /* Adjust padding as needed */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width */
}

/* Style form labels */
form label {
  display: block; /* Display labels as block elements */
  margin-bottom: 5px; /* Add margin below labels */
}
