body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-left: 18%;
  }

h1 {
    padding-left: 18%;
}
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  nav {
    text-align: center;
    padding: 10px;
    width: 20%;
    position: sticky;
    top: 0;
  }
  
  nav a {
    text-decoration: none;
    margin: 0 15px;
  }
  
  main {
    text-align: center;
    margin-top: 20px;
    width: 60%;
    overflow-y: auto; 
  }
  
  .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin: 0 auto;
  }
  
  .contact {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .contact h3 {
    margin: 0;
    padding-left: 20px; 
  }

  
  .contact button {
    position:relative;
    background-color: rgb(108, 206, 255);
    right: 50px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .article ul{
    text-align: start;
    margin-left: 50px;
  }
  .article button{
    background-color: rgb(245, 76, 76);
    border: none;
    border-radius: 4px;
    margin-top: 40px;
    padding: 8px 10px;
    cursor: pointer;
  }

  