:root {
  --primary: rgba(72, 76, 182, 0.9);
  --secondary: rgba(195, 195, 239, 0.5);
  --tertiary: rgba(226, 226, 246,  0.25);
  --background: rgb(246, 246, 246);
}

* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  border: 1px lightgray solid;
  border-radius: 20px;
  margin: 50px;
  display: grid;
  height: calc(100vh - 100px); 
  grid-template-areas: "sidebar main";
  grid-template-columns: 1fr 2fr;
  overflow: scroll;
  box-shadow: 0px 0px 30px rgb(0,0,0,0.2);
}

aside {
  grid-area: "sidebar";
  background-color: var(--secondary);
}

main {
  grid-area: "main";
  border-left: 1px solid rgb(205, 205, 205) solid, grey;
}

h1, h2, h3, h4 {
  color: var(--primary);
}

h1, h2 {
  margin: 20px;
}

h3 {
  margin-bottom: 10px;
}

nav {
  padding: 0 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  padding: 10px 0;
}

main ul li {
  padding: 20px;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) repeat(2, 80px);
}

main ul li:nth-child(odd) {
  background-color: var(--tertiary);
}

.contactListItem {

}

.contactCard {
  background-color: var(--background);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: grid;
  gap: 10px;
}

.contactCard-entry {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 2fr;
  gap: 30px;
}

.label {
  font-weight: bold;
  text-align: right;
  color: var(--primary)
}

.buttonContainer {
  display: grid;
  place-content: end;
  grid-template-columns: repeat(2, min-content);
}

button {
  margin-left: 0.5em;
  padding: 0.25em;
  border: none;
  background-color: var(--tertiary);
  color: var(--primary);
  border-radius: 5px;
  width: 70px;
}

button:hover {
  background-color: rgba(226, 226, 246, 1);
}

.delete {
  color: red;
}

.delete:hover {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}