body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  ul {
    list-style-type: none; /* Removes default bullet points */
}

.contact-info {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  color: rgb(26, 25, 25);
}

.contact-info h3 {
  padding-right: 10px;
}

.form label {
  padding: 5px;
}