body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgb(68, 190, 238), rgb(228, 110, 70));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .home_grid {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

  }

  .home_grid h1 {
    padding-left: 60px;
  }

  .home-link{
    display: grid;
    place-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 70px;
    grid-template-columns: repeat(3, 150px);
  }

  .home-link li {
    list-style: none;
    border: 2px rgb(228, 110, 70) solid;
    background-color: rgba(228, 109, 70, 0.501);
    border-radius: 10px;
    padding: 2px 10px;
  }

  .nav-link {
    text-decoration: none;
    color: black;
  }

  .nav-link:hover{
    color: white;
  }

  .contacts-section {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .contact-list-item {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(35px, 25px));
    place-items: center;
    padding-right: 50px
  }

  .contact-list-item a{
    text-decoration: none;
    border: solid rgba(0, 0, 0, 0.301) 2px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.294);
    color: black;
    padding: 3px;
  }

  .contact-list-item a:hover{
    color: rgb(255, 255, 255);
  }

  .contact-list-item{
    list-style-type: none;
  }

  .newContactForm {
    display: grid;
    font-weight: bold;
    justify-content: center;
  }

  .newContactForm label input {
    display: block;
  }

  .newContactForm input {
    background-color: rgba(128, 128, 128, 0.164);
    border-radius: 10px;
    padding: 2px;
    margin: 3px;
  }

  button {
    background-color: rgba(255, 255, 255, 0.171);
    border: 2px rgb(228, 110, 70) solid;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
  }

  .remove-contact-button:hover {
    color: red;
    background-color: rgba(255, 0, 0, 0.343);
    cursor: pointer;
  }

  .add-contact-button:hover {
    border: 2px rgb(0, 68, 0) solid;
    background-color: rgba(0, 255, 89, 0.352);
    cursor: pointer;
  }

  .contact {
    display: grid;
    justify-content: center;
  }

  .contact li {
    list-style: none;
  }