.contacts-list {
    width: minmax(200px, 45vw);
}

.search-container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-size: 20px;
}

.search-container > input {
    margin-right: 20px;
    font-size: 20px;
}