/* ContactList.css */
.contact-list-container {
    margin-top: 20px; /* Adjust as needed */
  }
  
  .contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* ContactListItem.css */
  .contact-list-item {
    background-color: #333; /* Dark background color */
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
  }
  
  .contact-name {
    color: #fff; /* Light text color */
    margin-bottom: 8px;
  }
  
  .details-link {
    text-decoration: none;
    color: #ffcc00; /* Link color */
    margin-right: 10px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .details-link:hover {
    color: #fff; /* Hover color */
  }
  
  .delete-button {
    background-color: #cc0000; /* Delete button background color */
    color: #fff; /* Light text color */
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #990000; /* Hover color */
  }
  
  .contact-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
}

.contact-details-container img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 15px;
}

.contact-details-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-details-container h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.contact-details-container p {
  font-size: 16px;
  margin-bottom: 15px;
}

.contact-details-container button {
  background-color: #ffcc00; /* Button background color */
  color: #333; /* Button text color */
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.contact-details-container button:hover {
  background-color: #fff; /* Hover background color */
  color: #333; /* Hover text color */
}
