label {
    margin-bottom: 20px;
    display:block;
}

input {
    background-color: var(--background-two)
}

input[type="submit"] {
    border: none;
    font-size: 20px;
    background-color: var(--button-color);
}

input[type="submit"]:hover {
    background-color: lightgreen;
}