.contactInfo {
    width: 100%;
    height: auto;
}

.contactInfo__topBlock {
    width: 100%;
    height: 225px;
    max-height: 225px;
    background-color: #8152dc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInfo__topBlock-photo {
    width: 135px;
    height: 135px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: -25px;
}

.contactInfo__mainInfo {
    width: 80%;
    min-height: 180px;
    padding: 0 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactInfo__mainInfo-name {
    margin-bottom: 15px;
    color: #000;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contactInfo__mainInfo-jobTitle {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contactInfo__content {
    margin-top: 100px;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1ft;
    grid-template-rows: repeat(4, 45px);
    row-gap: 15px;
}

.contactInfo__item {
    padding: 0 10px 0 24px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #8152dc;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contactInfo__item-title {
    padding: 0 10px;
    margin-right: 15px;
    width: 83px;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #632ad1;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contactInfo__item-text {
    max-width: 150px;
    height: 100%;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    overflow-x: auto;
    display: flex;
    align-items: center;
}

.map-container {
    margin-top: 35px;
    width: 100%;
    height: 200px;
}